.brew-login-form {
    width: 280px !important;
    border: 1px outset #777;
    padding: 10px 0 6px 0;
    text-align: center;

    @include rounded-corners(5px);
    
    background-color: #f2f6f0; // Old browsers
    @include filter-gradient(#f2f6f0, #ccdfc3, horizontal); // IE6-9 fallback on horizontal gradient
    @include background-image(linear-gradient(left top,  #f2f6f0 0%,#dbe6d8 28%,#d8e4d4 56%,#d5e2d0 70%,#ccdfc3 97%));

    .brew-login-message {
        font: 22px 'LobsterTwoRegular';
        color: $black;
        margin-bottom: 10px;
    }

    .dijitButton > span {
        color: $white;
        @include light-blue-gradient();

        &:hover {
            color: $white;
            @include dark-blue-gradient();
        }
    }
}


.fusion {
    position: absolute;
    left: 200px;
    top: 400px;
}