$white: #fff;
$black: #000;

// Greys
$lightest-grey: #e8e8e8;
$lighter-grey: #d2d2d2;
$light-grey: #a2a2a2;
$grey: #8a8a8a;
$dark-grey: #636363;

// Pistachio Theme
$pistachio-pale-green: #b0cc99;
$pistachio-dark-green: #b7ca79;
$pistachio-yellow-green: #dbdf6a;
$pistachio-off-white: #f6e8b1;
$pistachio-brown: #89725b;