.brew-list-view {
    height: 100%;
    overflow: auto;

    .left-column, .grid-ct {
        height: 98%;
        margin: 4px;
    }

    .left-column {
        float: left;
        padding-right: 4px;
    }

    .grid-ct {
        overflow: visible;
    }
}
