@mixin gradient($color, $begin, $end, $direction: vertical, $align: top) {
    background-color: $color; // Old browsers
    @include filter-gradient($begin, $end, $direction); // IE6-9
    @include background-image(linear-gradient($align,  $begin 0%, $end 75%));
}

@mixin light-blue-gradient() {
    background-color: #53a0f3; // Old browsers
    @include filter-gradient(#53a0f3, #0775ea, vertical); // IE6-9
    @include background-image(linear-gradient(top,  #53a0f3 0%,#5397ef 26%,#529bea 48%,#0775ea 89%));
}

@mixin dark-blue-gradient() {
    background-color: #0e69ca; // Old browsers
    @include filter-gradient(#0e69ca, #054d9b, vertical); // IE6-9
    @include background-image(linear-gradient(top,  #0e69ca 0%,#125ec2 26%,#1665ba 48%,#054d9b 89%));
}

@mixin light-green-gradient() {
    border: 1px solid #79b200;
    background-color: #b2ff23; // Old browsers
    @include filter-gradient(#b2ff23, #79b200, vertical); // IE6-9
    @include background-image(linear-gradient(top,  #b2ff23 0%,#94de00 27%,#7fc900 56%,#79b200 85%));
}

@mixin dark-green-gradient() {
    border: 1px solid #4d7000;
    background-color: #9ff400; // Old browsers
    @include filter-gradient(#9ff400, #669600, vertical); // IE6-9
    @include background-image(linear-gradient(top,  #9ff400 0%,#7cba00 27%,#6caa00 56%,#669600 85%));
}