<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @recipe_recipe_type.name %>
</p>


<%= link_to 'Edit', edit_recipe_recipe_type_path(@recipe_recipe_type) %> |
<%= link_to 'Back', recipe_recipe_types_path %>
