.brew-library-navigation-ct {
    float: left;

    .brew-library-navigation {
        padding: 8px 10px;
        @include rounded-corners(5px);
        @include box-shadow();
        
        background-color: #f2f6f0; // Old browsers
        @include filter-gradient(#f2f6f0, #ccdfc3, horizontal); // IE6-9 fallback on horizontal gradient
        @include background-image(linear-gradient(left top,  #f2f6f0 0%,#dbe6d8 28%,#d8e4d4 56%,#d5e2d0 70%,#ccdfc3 97%));

        .brew-library-navigation-item,
        .brew-library-navigation-child {
            display: block;
        }

        .brew-library-navigation-item {
            border: 1px $grey solid;
            @include rounded-corners();

            margin: 8px 0 4px 0;

            text-align: center;
            background-color: $lightest-grey;

            font: 18px 'LobsterTwoRegular';
        }

        .brew-library-navigation-child {
            margin-left: 20px;
        }
    }
}