.brew-page {
    position: relative;
    overflow: auto;
    padding: $page-padding !important;

    .brew-content-section {
        @include rounded-corners();

        width: 100%;
        margin-top: 8px;
        padding-bottom: 4px;

        background-color: $pistachio-brown;
    }

    .brew-content-section-title {
        @include rounded-corners-detail(5px, 5px, 0px, 0px);
        margin: 0;
        padding: 4px;
        margin-bottom: 4px;
        line-height: 30px;
        background-color: $pistachio-off-white;

        font-size: 18px;
        font-weight: bold;
        font-family: 'LobsterTwoRegular';
        color: $pistachio-brown;
    }
}