.brew-navigation-bar {
    height: 40px;
    background-color: $black !important;
    border: 0 !important;

    .dijitMenuItem {
        color: $white;
        font-size: 18px;
        line-height: 40px !important;
        background-color: transparent;
        padding: 0 10px !important;
        border-left: 1px solid $dark-grey;

        &.brew-logo {
            font: 24px 'LobsterTwoRegular' bold;
            border: 0;
        }

        &.brew-user-icon {
            float: right;
            margin-right: 20px;
            border-width: 0;
            background: transparent url('/assets/User-green128.png')  no-repeat;
            background-size: contain;
            width: 40px;
            height: 100%;
        }
    }
}

.dijitMenuPopup > .brew-user-menu {
    background-color: $black;
    border: 1px solid $dark-grey;

    td {
        padding: 2px 0px 2px 10px;
    }

    .dijitMenuItemLabel {
        color: $white;
        font-size: 12px;
        font-weight: normal;
    }
}