 .brew-navigation-bar {
    height: 40px;
    background-color: $black !important;
    border: 0 !important;

    .dijitMenuItem {
        color: $white;
        font-size: 18px;
        line-height: 40px !important;
        background-color: transparent;
        padding: 0 10px !important;
        border-left: 1px solid $dark-grey;

        &.dijitHover {
            background-color: #61833f; // Old browsers
            @include filter-gradient(#61833f, #000000, horizontal); // IE6-8 fallback on horizontal gradient
            // IE9 SVG, needs conditional override of 'filter' to 'none'
            $experimental-support-for-svg: true;
            @include background-image(radial-gradient(center, ellipse cover,  #61833f 0%,#6d9347 12%,#78a24e 25%,#5d7d3d 39%,#1f2a14 66%,#000000 96%));
            color: $white;
        }

        &.brew-logo {
            font: 24px 'LobsterTwoRegular' bold;
            border: 0;
        }

        &.brew-user-icon {
            float: right;
            margin-right: 20px;
            border-width: 0;
            background: transparent url('/assets/User-green128.png')  no-repeat;
            background-size: contain;
            width: 40px;
            height: 100%;
        }
    }
}

.dijitMenuPopup > .brew-user-menu {
    background-color: $black;
    border: 1px solid $dark-grey;

    td {
        padding: 2px 0px 2px 10px;
    }

    .dijitMenuItemLabel {
        color: $white;
        font-size: 12px;
        font-weight: normal;
    }
}