<a href="/beers/">beers</a> <br />
<a href="/breweries/">breweries</a> <br />
<a href="/ingredients/">ingredients</a> <br />
<a href="/ingredient_categories/">ingredient categories</a> <br />
<a href="/recipes/">recipes</a> <br />
<a href="/recipe_types/">recipe types</a> <br />