.dojoxGrid {
    @include rounded-corners(5px);
    @include box-shadow( 2px, 2px, 10px, 1px );

    border: 1px solid $dark-grey;

    .dojoxGridMasterHeader,
    .dojoxGridMasterHeader div,
    .dojoxGridMasterHeader div table,
    .dojoxGridMasterHeader div table tbody {
        background: transparent;

        tr {
            @include rounded-corners-detail(5px, 5px, 0, 0);

            th {
                font: 22px 'LobsterTwoRegular';
                letter-spacing: 0;
                border-style: solid;
            }

            th:first-child {
                @include rounded-corners-detail(5px, 0, 0, 0);
            }

            th:last-child {
                @include rounded-corners-detail(0, 5px, 0, 0);
            }
        }
    }

    .dojoxGridMasterView,
    .dojoxGridMasterView .dojoxGridView,
    .dojoxGridMasterView .dojoxGridScrollbox,
    .dojoxGridMasterView .dojoxGridScrollbox .dojoxGridContent {
        background:transparent;

        .dojoxGridRow:last-child,
        .dojoxGridRow:last-child > table,
        .dojoxGridRow:last-child > table > tbody {
            background: transparent;

            > tr {
                @include rounded-corners-detail(0, 0, 5px, 5px);

                td:first-child {
                    @include rounded-corners-detail(0, 0, 0, 5px);
                }

                td:last-child {
                    @include rounded-corners-detail(0, 0, 5px, 0);
                }
            }
        }

        .dojoxGridRow {
            td {
                border-style: solid;
            }
        }
    }
}