.dgrid {
    @include rounded-corners();
    border-color: $black !important;
    height: auto !important;

    .dgrid-header {
        @include rounded-corners-detail(5px, 5px, 0, 0);
        height: 29px;
        right: 0;
    }

    .dgrid-footer {
        @include rounded-corners-detail(0, 0, 5px, 5px);
    }

    .dgrid-scroller {
        margin: 29px 0 18px 0;
        position:relative;
    }

    .dgrid-content {
        height: 100%;
        min-height: 65px;

        .dgrid-no-data {
            text-align: center;
            padding-top: 10px;
        }

        .dgrid-cell {
            vertical-align: middle;
        }

        .dgrid-cell-spacing {
            padding: 6px;
        }
    }
}
