.dgrid {
    @include rounded-corners();
    border-color: $black !important;
    height: auto !important;

    .dgrid-header {
        @include rounded-corners-detail(5px, 5px, 0, 0);
        height: 29px;
        right: 0;
    }

    .dgrid-footer {
        @include rounded-corners-detail(0, 0, 5px, 5px);
    }

    .dgrid-scroller {
        margin-top: 29px;
        position:relative;
    }

    .dgrid-content {
        height: 100%;

        .dgrid-cell {
            vertical-align: middle;
            padding: 6px 4px;

            &.clickable {
                cursor: pointer;
            }
        }

        .dgrid-row-even {
            background-color: $white;
        }
    }
}
