<div class="row-fluid" ng-controller="LoginController">
  <form name="loginForm" class="module" ng-submit="signIn()">
    <fieldset>
      <legend>Already a member? <small>Log in</small></legend>
      <p class="text-error">{{errorMessage}}</p>
      <input type="email" ng-model="email" placeholder="Email" class="span12">
      <input type="password" ng-model="password" placeholder="Password" class="span12">
      <button type="submit" class="btn btn-primary">Sign in</button>
    </fieldset>
  </form>
</div>