<div class="row-fluid" ng-controller="RegistrationController">
  <form class="module"  ng-submit="signUp()">
    <fieldset>
      <legend>Have the beta key? <small>Sign up here...</small></legend>
      <input type="text" ng-model="firstName" placeholder="First name" class="span6">
      <input type="text" ng-model="lastName" placeholder="Last name" class="span6">
      <input type="text" ng-model="email" placeholder="Email" class="span12">
      <input type="password" ng-model="password" placeholder="Password" class="span12">
      <input type="password" ng-model="betaKey" placeholder="Beta key" class="span12">
      <button type="submit" class="btn btn-success">Sign up</button>
    </fieldset>
  </form>
</div>