.brew-horizontal-pane {
    overflow: hidden;
    white-space: nowrap;

    .brew-horizontal-pane-child {
        white-space: normal;
        display: inline-block;
        vertical-align: top;
    }

    .dj_ie6, .dj_ie7, dj_ie8 {
        &.brew-horizontal-pane-child {
            display: inline;
            zoom: 1;
        }
    }
}