.brew-recipe-builder .brew-recipe-builder-grains {
    .dgrid {
        .dgrid-column-ingredient {
            width: 200px;
        }

        .dgrid-column-amount {
            width: 200px;
        }

        .dgrid-column-notes {
            width: auto;
        }
    }
}