.brew-recipe-builder {
    @include rounded-corners();

    width: 100%;
    margin-top: 8px;
    padding-bottom: 4px;

    background-color: $pistachio-brown;

    .brew-recipe-builder-title {
        @include rounded-corners-detail(5px, 5px, 0px, 0px);
        margin: 0;
        padding: 4px;
        margin-bottom: 4px;
        line-height: 30px;
        background-color: $pistachio-off-white;
        overflow: auto;

        font-size: 18px;
        font-weight: bold;
        font-family: 'LobsterTwoRegular';
        color: $pistachio-brown;
    }

    .brew-recipe-builder-create-recipe.dijitButton {
        width: 200px;
        height: 25px;
        text-align: center;
        margin: 12px 6px 10px;

        > span {
            width: 100%;
            height: 100%;
            color: $white;
            font-size: 18px;
            @include light-green-gradient();

            &:hover {
                color: $white;
                @include dark-green-gradient();
            }
        }
    }

    >div {
        margin: 6px 6px 8px;
        .header {
            @include rounded-corners();
            padding: 4px;
            margin-bottom: 4px;
            background-color: $pistachio-off-white;
            overflow: auto;

            font-size: 14px;
            font-weight: bold;
            font-family: 'LobsterTwoRegular';
            color: $pistachio-brown;
        }
    }

    .dgrid {
        .dgrid-column-ingredient {
            width: 200px;
        }

        .dgrid-column-amount {
            width: 120px;
        }

        .dgrid-column-time {
            width: 120px;
        }

        .dgrid-column-notes {
            width: auto;
        }
    }
}