.brew-recipe-builder .brew-recipe-builder-section {
    .dgrid {
        .dgrid-column-ingredient {
            width: 200px;

            &.dgrid-cell-padding {
                padding-left: 8px;
            }
        }

        .dgrid-column-amount {
            width: 120px;
        }
        
        .dgrid-column-time {
            width: 120px;
        }

        .dgrid-column-notes {
            width: auto;
        }
    }
}