html, body, #doc, #page-wrapper {
    height: 100%;
}

h1, h2, h3, h4, h5, .brand, legend {
    font-family: 'LobsterTwoRegular';
}

.brand {
    font-size: 22px !important;
}

.module {
    @include rounded-corners();
    border: 1px solid #8D5A32;
    background-image: url('/assets/white-wash-thick.png');

    padding: 4px;
    margin-bottom: 14px;
}

#doc {
    #page-wrapper {
        overflow: scroll;

        .module {
            border-color: #5A7239;
        }

        &.login {
            background: #000 url('/assets/hops_background.jpeg') no-repeat;
            background-size: cover;

            #page-ct {
                background-image: none;
            }
        }

        &.content {
            background: #000 url('/assets/cellar_background.jpg') no-repeat;
            background-size: cover;

            #page-ct {
                background-image: url('/assets/white-wash-thin.png');
                padding: 60px 14px 44px 14px !important;
                overflow: visible;
                min-height: 100%;
                height: auto;
            }
        }
    }
}
