<div class="module library-page span12">
  <h1>Library <small>BEERS</small></h1>

  <div class="row-fluid">
    <form ng-submit="searchBeers()" class="form-search span4">
      <div class="input-prepend">
        <button class="btn" type="submit"><i class="icon-search"></i></button>
        <input ng-model="query" type="text" class="input-medium search-query" placeholder="Search...">
      </div>
      <i class="icon-remove" ng-show="searchIsActive" ng-click="clearSearch()" data-toggle="tooltip" title="Clear search"></i>
    </form>

    <ul class="pager span4 offset4">
      <li class="previous" ng-class="{disabled: currentPage==1}">
        <a ng-click="goToPage(currentPage - 1)">&larr; Previous Page</a>
      </li>
      <li class="next" ng-class="{disabled: beers.length<50}">
        <a ng-click="goToPage(currentPage + 1)">Next Page &rarr;</a>
      </li>
    </ul>
  </div>

  <table class="table table-hover">
    <thead>
      <tr>
        <th></th>
        <th>Beer</th>
        <th>Brewery</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="beer in beers" ng-click="goToBeerDetailPage(beer.id)">
        <td><img ng-src="{{beer.labels.icon}}" class="img-rounded" /></td>
        <td>{{beer.name}}</td>
        <td>{{beer.breweries[0].name}}</td>
      </tr>
    </tbody>
  </table>
</div>