table {

  th {
    font-size: 14px;
    padding: 0px 10px;
  }

  tr {
    background-color: #eee;
    &:nth-child(even) { background-color:#fff; }
  }

  td {
    padding-right: 10px;
    max-width: 400px;
  }
}