.brew-database-navigation-ct {
    float: left;

    .brew-database-navigation {
        padding: 10px 20px;
        @include rounded-corners(5px);
        
        background-color: #f2f6f0; // Old browsers
        @include filter-gradient(#f2f6f0, #ccdfc3, horizontal); // IE6-9 fallback on horizontal gradient
        @include background-image(linear-gradient(left top,  #f2f6f0 0%,#dbe6d8 28%,#d8e4d4 56%,#d5e2d0 70%,#ccdfc3 97%));

        .brew-database-navigation-item {
            display: block;
        }
    }
}